service cloud.firestore {
  match /databases/{database}/documents {
  
  	function isTwoFactorAuthenticated() {
    	return request.auth.token.twoFactorAuthenticated;
    }
    
    function isOwner(id) {
    	return request.auth.uid == id;
    }
    
    match /persons/{person} {
      allow read: if isTwoFactorAuthenticated() || isOwner(person);
      allow write: if isTwoFactorAuthenticated() || isOwner(person);
    }
    
    match /twofa/{personId} {
      allow read: if false;
      allow write: if isOwner(personId);
    }
  }
}
